<div class="py-3 px-5 mb-4 bg-secondary bg-opacity-50 rounded-1 text-white">
  <app-effect-form [(editedEffect)]="editedEffect"></app-effect-form>
</div>

<div class="bg-white py-4 px-5 rounded-1">
  <div class="d-flex flex-row flex-wrap align-items-center">
    <h3 class="text-uppercase flex-grow-1 fw-semibold">List of Effects</h3>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput [formControl]="searchControl">
    </mat-form-field>
  </div>

  <div class="overflow-auto">
    <table mat-table class="w-100 border-top" [dataSource]="dataSource" multiTemplateDataRows matSort
      matSortActive="name" matSortDirection="asc">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element" class="fw-semibold"> {{ element.name }} </td>
      </ng-container>

      <ng-container matColumnDef="school">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> School </th>
        <td mat-cell *matCellDef="let element"> {{ element.school }} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-end">
          <button mat-icon-button color="primary" (click)="onClickAdd()">
            <mat-icon>add_circle</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element" class="text-end">
          <button mat-icon-button color="primary"
            (click)="expandedEffect = expandedEffect === element ? null : element">
            <mat-icon *ngIf="element !== expandedEffect">expand_more</mat-icon>
            <mat-icon *ngIf="element === expandedEffect">expand_less</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="onClickEdit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onClickDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="effectDetails">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="overflow-hidden" [@expandDetails]="element === expandedEffect ? 'expanded' : 'collapsed'">
            <div class="py-3">
              <mat-chip-listbox *ngIf="ingredients && ingredients.has(element.id)">
                <mat-chip *ngFor="let ingredient of ingredients.get(element.id)">
                  {{ ingredient }}
                </mat-chip>
              </mat-chip-listbox>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.edited-row]="row === editedEffect">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['effectDetails']" class="effect-details-row"
        [class.closed-row]="row !== expandedEffect">
      </tr>
    </table>
  </div>
</div>
