<div class="sky-background" [class.sky-background-full]="!isLoggedIn"></div>

<div class="container position-relative h-100">

  <header class="d-flex flex-row flex-wrap align-items-center py-2 py-sm-3 py-md-4 py-lg-5 text-white">
    <div class="d-flex justify-content-center align-items-center logo-container">
      <img src="/assets/images/logo.png" alt="Skyrim Alchemy logo">
    </div>

    <h2 class="mx-3 mb-0 flex-grow-1 text-uppercase fw-lighter">
      <span>Skyrim</span><br>
      <span>Alchemy Lab</span>
    </h2>

    <button *ngIf="isLoggedIn" mat-icon-button class="me-2 d-block d-lg-none" routerLink="/effects"
      routerLinkActive="active-menu-button">
      <mat-icon>local_drink</mat-icon>
    </button>

    <button *ngIf="isLoggedIn" mat-button class="me-3 d-none d-lg-flex text-uppercase" routerLink="/effects"
      routerLinkActive="active-menu-button">
      <mat-icon class="me-2">local_drink</mat-icon>
      <span>Effects</span>
    </button>

    <button *ngIf="isLoggedIn" mat-icon-button class="me-2 d-block d-lg-none" routerLink="/ingredients"
      routerLinkActive="active-menu-button">
      <mat-icon>nest_eco_leaf</mat-icon>
    </button>

    <button *ngIf="isLoggedIn" mat-button class="me-3 d-none d-lg-flex text-uppercase" routerLink="/ingredients"
      routerLinkActive="active-menu-button">
      <mat-icon class="me-2">nest_eco_leaf</mat-icon>
      <span>Ingredients</span>
    </button>

    <button *ngIf="isLoggedIn" mat-icon-button class="d-block d-lg-none" (click)="onClickLogout()">
      <mat-icon>logout</mat-icon>
    </button>

    <button *ngIf="isLoggedIn" mat-button class="d-none d-lg-flex text-uppercase" (click)="onClickLogout()">
      <mat-icon class="me-2">logout</mat-icon>
      <span>Logout</span>
    </button>
  </header>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>
