<header class="w-100">
  <mat-toolbar color="primary">
    <h1 class="me-3 mb-0">Skyrim Alchemy</h1>

    <button mat-icon-button class="me-2 d-block d-sm-none">
      <mat-icon>eco</mat-icon>
    </button>

    <button mat-button class="me-3 d-none d-sm-flex">
      <mat-icon class="me-2">eco</mat-icon>
      <span>Ingredients</span>
    </button>

    <button mat-icon-button class="me-2 d-block d-sm-none">
      <mat-icon>local_drink</mat-icon>
    </button>

    <button mat-button class="me-3 d-none d-sm-flex">
      <mat-icon class="me-2">local_drink</mat-icon>
      <span>Effects</span>
    </button>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>
