<div class="py-3 px-5 mb-4 bg-secondary bg-opacity-50 rounded-1 text-white">
  <app-ingredient-form [(editedIngredient)]="editedIngredient"></app-ingredient-form>
</div>

<div class="bg-white p-5 rounded-1">
  <div class="d-flex flex-row flex-wrap align-items-center">
    <h3 class="text-uppercase flex-grow-1 fw-semibold">List of Ingredients</h3>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput [formControl]="searchControl">
    </mat-form-field>
  </div>

  <div class="overflow-auto">
    <table mat-table class="w-100 border-top" [dataSource]="dataSource" matSort matSortActive="name"
      matSortDirection="asc">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element" class="text-truncate fw-semibold"> {{ element.name }} </td>
      </ng-container>

      <ng-container matColumnDef="effect1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 1st effect </th>
        <td mat-cell *matCellDef="let element" class="text-truncate">
          {{ element.effect1 && effects && effects[element.effect1.id] ? effects[element.effect1.id].name : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="effect2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 2nd effect </th>
        <td mat-cell *matCellDef="let element" class="text-truncate">
          {{ element.effect2 && effects && effects[element.effect2.id] ? effects[element.effect2.id].name : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="effect3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 3rd effect </th>
        <td mat-cell *matCellDef="let element" class="text-truncate">
          {{ element.effect3 && effects && effects[element.effect3.id] ? effects[element.effect3.id].name : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="effect4">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 4th effect </th>
        <td mat-cell *matCellDef="let element" class="text-truncate">
          {{ element.effect4 && effects && effects[element.effect4.id] ? effects[element.effect4.id].name : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-end">
          <button mat-icon-button color="primary" (click)="onClickAdd()">
            <mat-icon>add_circle</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element" class="text-end">
          <button mat-icon-button color="primary" (click)="onClickEdit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onClickDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.edited-row]="row === editedIngredient">
      </tr>
    </table>
  </div>
</div>
